h1{
	font-family: sans-serif;color: #447DCD;font-size: 30pt;
}
h2{
	font-family: sans-serif;color: #447DCD;font-size: 20pt;
}
h3{
	font-family: sans-serif;color: #447DCD;font-size: 10pt;
}
p {
	font-family: sans-serif;color: black;font-size: 15pt;
}
body {
    background: #d8e7f7;
}