h1{
	font-family: sans-serif;color: #CCEEFF;font-size: 30pt;
}
h2{
	font-family: sans-serif;color: #CCEEFF;font-size: 20pt;
}
h3{
	font-family: sans-serif;color: #CCEEFF;font-size: 10pt;
}
body{
	background-color: #CCEEFF; 
}